
<% if logged_in? %>

  Wellcome, <%= current_user.username  %>! (<%= link_to "Logout",
                                                "/sessions/logout",
                                                :method => :delete %>)
  <h2>Courses</h2>
  <ul>
  <% @courses.each do |course| %>
    <li><%= link_to course.name,
                :controller=> "courses",
                :action=> "show",
                :id => course.id %>
    </li>
  <% end %>
  </ul>

<% else %>

  <h2>Login</h2>
  <% form_for @user, :url => sessions_url do |f| %>
     <%= f.label :username, 'Username' %>:
     <%= f.text_field :username %><br />
     <%= f.label :password, 'Password' %>:
     <%= f.password_field :password %><br />

     <%= submit_tag "OK" %>
  <% end %>

  Register

<% end %>



