<h2><%= @ex_group.course_instance.course.name %></h2>

<h3><%= @ex_group.course_instance.name %>, <%= @ex_group.name %></h3>

<%= link_to "Back",
    course_course_instance_url(@ex_group.course_instance.course,
                               @ex_group.course_instance) %><br/>


<% if not registered?(current_user, @ex_group) %>
  <p><%= link_to "Register to this group",
        registrations_path(:ex_group_id => @ex_group.id),
        :method=>:post %>
  </p>
<% else %>
  <p>You have already registered to this exercise group</p>
<% end %>


<h4>Registered to this exercise group</h4>
<% if @ex_group.users.any? %>
  <ul>
    <% @ex_group.users.each do |u| %>
    <li>
      <%= u.username %>
      <% if u == current_user %>
        <%= link_to "unregister", 
            registrations_path(:ex_group_id=>@ex_group.id),
            :method=>:delete %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>No registrations</p>
<% end %>


