<h2>Edit user</h2>

<%= error_messages_for "user" %>

<% form_for @user do |f| %>
   Username <%= f.text_field :username %><br />
   Real name <%= f.text_field :realname %><br />
   Student id <%= f.text_field :studentid %><br />
   Password <%= f.password_field :password %><br />
   Confirm password <%= f.password_field :password_confirmation %><br />
   <%= submit_tag "Update" %>
<% end %>



